body {
  margin: 0;
  font-family: Arial, sans-serif;
  padding-top: 70px; 
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  padding: 15px 30px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  
}

.nav-right {
  display: flex;
  gap: 20px;
}

.nav-right a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-right a:hover {
  color: #FFD700;
}

.hero {
  width: 100%;
  background: url("./images/background.jpeg") no-repeat center center/cover;
  height: 60vh;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dishes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.card {
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  background-color: white;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.card img {
  width: 100%;
  height: 180px;
  border-radius: 10px;
  object-fit: cover;
}

.card button {
  background-color: greenyellow;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
}

.card button:hover {
  background-color: #9acd32;
}


.reviews {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: aliceblue;
  padding: 30px 0;
  gap: 20px;
}

.review-card {
  background-color: white;
  width: 280px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  text-align: center;
}

.personpic {
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

/* FOOTER */
.footer {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  margin-top: 20px;
}

.social-links {
  display: flex;
  gap: 15px;
}

.social-links a {
  font-size: 22px;
  text-decoration: none;
  transition: color 0.3s;
}

.fa-instagram {
  color: #E4405F;
}

.fa-facebook-f {
  color: #1877F2;
}

.fa-x-twitter {
  color: #1DA1F2;
}

.social-links a:hover {
  color: #FFD700;
}
