*{
    background-color: black;
    color:white;
}
.maincontainer{
    display:flex;

}
.card1{
    padding: 20px;
    border: 2px solid red;
    margin: 10px;

}
.card1 button{
    background-color: white;
    color:red;
}
.card1::selection{
    background-color: green;
    color: white;
}

.card1 button:hover{
    background-color: yellow;
}